*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 10px;
}

img{
    width: 100%;
    height: 100%;
}

ul{
    list-style: none;
}

a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: block;
    color: black;
    text-align: center;
}

body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container {
    height: 100dvh;
    height: 100vh;
    width: 100vw;
    display: grid;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scrollbar-width: none;
    grid-template-areas: 
    "women men kids baby";
    grid-template-columns: repeat(4, 100vw);


    .header{

        color: white;
        display: grid;
        grid-template-areas: 
        "brand menu"
        "category category"
        ;
        align-items: center;
        row-gap: 15px;
        position: fixed;
        top: 10px;
        left: 10px;
        right: 10px;

        .brand{
            grid-area: brand;
        }

        .menu{
            grid-area: menu;
            display: grid;
            grid-template-columns: repeat(4, 0.15fr);
            justify-content: end;
            column-gap: 25px;
            transform: translateX(2px);
        }

        .category{
            height: 30px;
            grid-area: category;
            display: flex;
            justify-content: space-between;
            font-size: .8rem;
            position: relative;

            li{
                position: relative;
                
                a{
                    cursor: pointer;
                }

                h1{
                    color: white;
                }

            }

            &::after{
                content: "";
                height: 2px;
                width: var(--afterWidth, 64px);
                background-color: white;
                position: absolute;
                bottom: 0;
                left: var(--afterLeft, 0);
                transition: .3s linear .3s;
            }
        }

        .side-menu{
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: white;
            display: none;
            padding: 0 10px;
            padding-top: 5px;

            .search{

                display: none;
                grid-template-areas: 
                "header"
                "trending"
                "history"
                ;
                height: min-content;
                row-gap: 10px;

                .search-header{
                    grid-area: header;
                    display: grid;
                    grid-template-areas: 
                    "up"
                    "down"
                    ;
                    position: relative;

                    .up-section{

                        grid-area: up;
                        display: grid;
                        grid-template-columns: 10% 90%;
                        align-items: center;

                        .back-btn{
                            cursor: pointer;
                        }

                        .input-box{

                            position: relative;

                            .search-icon{
                                left: 5px;
                                width: 24px;
                                position: absolute;
                                display: block;

                                &.active{
                                    display: none;
                                }
                            }

                            .input-area{
                                border-top-left-radius: 50px;
                                border-bottom-left-radius: 50px;
                                border-top-right-radius: 50px;
                                border-bottom-right-radius: 50px;
                                outline: none;
                                padding-left: 30px;
                                border: .5px solid rgba(0,0,0,0.5);
                                height: 3rem;
                                font-size: 2rem;
                                width: 100%;

                                &:focus{
                                    border: .5px solid blue;
                                }
                            }

                            .btn-cancel{
                                display: none;

                                &.active{
                                    position: absolute;
                                    right: -135px;
                                    display: block;
                                }
                            }
                        }
                    }

                    .bottom-section{
                        grid-area: down;

                        display: flex;
                        justify-content: flex-start;
                        column-gap: 20px;

                        .menu-item{
                            width: 24px;
                            cursor: pointer;
                            position: relative;
                            font-size: .8rem;
                        }

                        .toko,.faq{                            
                            &::after{
                                content: "Toko";
                                display: block;
                                position: absolute;
                                left: .4rem;
                            }
                        }

                        .faq{
                            &::after{
                                content: "FAQ";
                            }
                        }
                    }

                    .line{
                        position: relative;
                        height: 1px;
                        width: 100%;
                        background-color: lightgray;
                        margin-top: 20px;
                    }
                }

                .trending{
                    grid-area: trending;
                    display: grid;
                    row-gap: 10px;

                    h1{
                        color: black;
                        font-size: 1.1rem;
                    }

                    .trend{
                        display: grid;
                        
                        grid-auto-flow: column;
                        column-gap: 15px;
                        overflow-x: auto;
                        scrollbar-width: none;

                        .trend-item{
                            display: grid;
                            align-items: center;
                            width: 100px;
                            height: 25px;
                            border-top-left-radius: 50px;
                            border-bottom-left-radius: 50px;
                            border-top-right-radius: 50px;
                            border-bottom-right-radius: 50px;
                            position: relative;
                            border: .5px solid rgba(0,0,0,0.3);
                            cursor: pointer;
                            padding-left: 10px;

                            &.dragging{
                                border: 1px solid black;
                            }

                            &:last-of-type{
                                width: 60px;
                            }

                            img{
                                width: 15px;
                                position: absolute;
                                left: 3px;

                            }
                        }
                    }
                }

                .history{
                    grid-area: history;
                    display: grid;
                    grid-template-areas: 
                    "title icon"
                    "line line"
                    "history history"
                    ;
                    align-items: center;
                    grid-template-columns: 1fr .01fr;
                    row-gap: 5px;

                    h1{
                        color: black;
                        font-size: 1.1rem;
                    }

                    .title{
                        grid-area: title;
                    }

                    .icon{
                        grid-area: icon;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }

                    .line{
                        grid-area: line;
                        height: 1px;
                        background-color: lightgray;
                    }

                    .hist{
                        grid-area: history;
                    }
                }
            }
        }
    }

    .women,.men,.kids,.baby{
        grid-area: women;

        overflow-y: scroll;
        scrollbar-width: none;
        scroll-snap-type: y mandatory;

        // ini adalah snap untuk perpindahan section
        scroll-snap-align: start;
        scroll-snap-stop: always;

        .items{
        // ini adalah snap untuk perpindahan item dalam section
            scroll-snap-align: start;
            scroll-snap-stop: always;

            height: 100dvh;
            height: 100vh;
            width: 100%;
            background-image: url(../img/women/Witem1.jpg);
            background-size: cover;
            background-position-x: -90px;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-size: 3rem;

            h1{
                color: white;
                font-weight: 200;
                text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
            }

        }

        .item2{
            background-image: url(../img/women/Witem2.jpg);

        }

        .item3{
            background-image: url(../img/women/Witem3.jpg);
        }

        .item4{
            background-image: url(../img/women/Witem4.jpg);
        }

        .item5{
            background-image: 
            linear-gradient(
            to bottom, 
            rgba(0,0,0,0.2),   /* mulai gelap di atas */
            rgba(0,0,0,0)    /* sisanya transparan */
            ),
            url(../img/women/Witem5.jpg);
        }
    }

    .men{
        grid-area: men;
        
        .item1{
            background-image: url(../img/men/Mitem1.jpg);
            background-position-x: 0;
        }
        .item2{
            background-image: url(../img/men/Mitem2.jpg);
        }
        .item3{
            background-image: url(../img/men/Mitem3.jpg);
        }
        .item4{
            background-image: url(../img/men/Mitem4.jpg);
        }
        .item5{
            background-image: url(../img/men/Mitem5.jpg);
        }
    }

    .kids{
        grid-area: kids;

        .item1{
            background-image: url(../img/kids/Kitem1.jpg);
        }
        .item2{
            background-image: url(../img/kids/Kitem2.jpg);
        }
        .item3{
            background-image: 
            linear-gradient(
            to bottom, 
            rgba(0,0,0,0.2),   /* mulai gelap di atas */
            rgba(0,0,0,0)    /* sisanya transparan */
            ),
            url(../img/kids/Kitem3.jpg);
        }
        .item4{
            background-image: url(../img/kids/Kitem4.jpg);
        }
        .item5{
            background-image: url(../img/kids/Kitem5.jpg);
        }
    }

    .baby{
        grid-area: baby;

        .item1{
            background-image: url(../img/baby/Bitem1.jpg);
            background-position-x: -20px;
        }
        .item2{
            background-image: url(../img/baby/Bitem2.jpg);
        }
        .item3{
            background-image: url(../img/baby/Bitem3.jpg);
        }
        .item4{
            background-image: url(../img/baby/Bitem4.jpg);
        }
        .item5{
            background-image: url(../img/baby/Bitem5.jpg);
        }
    }
}